{% if messages %}
{% for message in messages %}
        <div class="alert 
            {% if message.tags == 'error' %}alert-danger
            {% elif message.tags == 'info' %}alert-success
            {% elif message.tags == 'warning' %}alert-warning
            {% endif %} alert-dismissible fade show" role="alert" style="padding-top: 5%;">
            
            <strong>
                {% if message.tags == 'error' %}Oops!
                {% elif message.tags == 'info' %}Success!
                {% elif message.tags == 'warning' %}Warning!
                {% endif %}
            </strong> 
            
            {{ message }}
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            setTimeout(function() {
                const bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            }, 5000);
        });
    });
</script>
